html
  font-size 62.5%

body
  background white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 1.4rem
  line-height 1

h1,h2,h3,h4,h5,h6
  font-weight normal
  margin 0


