article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5a6470;
  color: #fff;
  text-align: center;
  padding: 20px 80px 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .sortBy__label {
  margin-right: 10px;
}
.main {
  padding: 30px;
}
.description {
  position: relative;
}
.description .counter {
  position: absolute;
  bottom: -21px;
  right: 0;
  display: block;
  width: 150px;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
  background: #f5a623;
  color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.idea_date {
  text-align: right;
}
.field {
  margin-bottom: 18px;
}
input,
textarea {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #dededf;
  background: #fff;
  color: #000;
  width: 100%;
  padding: 8px;
  line-height: 20px;
  border-radius: 3px;
  -webkit-transition: 0.1s border;
  transition: 0.1s border;
}
textarea {
  height: 95px;
}
button {
  background: #5a6470;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
}
.ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.idea {
  border: 1px solid #5a6470;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}
.idea.edit-mode input,
.idea.edit-mode textarea {
  border-color: transparent;
}
.idea.edit-mode.focus input,
.idea.edit-mode.focus textarea {
  border-color: #dededf;
}
@media only screen and (min-width: 320px) {
  .ideas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .idea {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .ideas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .idea {
    width: 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .idea {
    width: 30%;
  }
}
